<hr>

<article *ngIf=" mode != 'edit' " class="comment bg-white p-3" [attr.depth]=" comment.depth ">
idx: {{ comment.idx }}
author: {{ comment.user.name }}
<p [innerHTML]=" appService.sanitizeContent( comment ) "></p>

      <div class="files clearfix" *ngIf=" comment.files ">
        <div class="w-25 float-left" *ngFor=" let file of comment.files ">
          <img [src]=" file.url + '&crop=100x100x50'  " style="width: 100%;">
        </div>
      </div>
<div class="buttons">
    <span *ngIf=" myComment " (click)=" mode = 'edit' " class="">Edit</span>
    <span (click)=" mode = 'create' " class="">Reply</span>
    <span (click)=" onClickLike( 'G' ) " class="">Like({{comment.vote_good}})</span>
    <span (click)=" onClickLike( 'B' ) " class="">Dislike({{comment.vote_bad}})</span>
    <span (click)=" onClickReport() " class="">Report({{comment.report}})</span>
</div>

</article>

<comment-form-component
    *ngIf = " mode "
    [mode] = " mode "
    [parent_idx]=" comment.idx "
    [comment]=" comment "
    (created) = " mode = '' "
    (edited) = " mode = '' "
    (cancel) = " mode = '' "
    ></comment-form-component>