<div class="modal-header">
  <h4 class="modal-title">Post Config</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Create PostConfig</p>
  <form>
    <!--<div>-->
      <!--<p class="form-title" *ngIf=" ! user.logged ">Please Signup.</p>-->
      <!--<p class="form-title" *ngIf="   user.logged ">Update Profile.</p>-->
    <!--</div>-->
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i></span>
      <input [(ngModel)]="form.name" name="name" type="text" class="form-control form-control-sm" placeholder="Name" (keydown)="onEnterRegister($event)">
    </div>

    <div class="input-group" *ngIf=" ! user.logged ">
      <span class="input-group-addon"><i class="fa fa-user-circle fa-fw"></i></span>
      <input [(ngModel)]="form.email" name="email" type="email" class="form-control form-control-sm" placeholder="Email" (keydown)="onEnterRegister($event)">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-vcard fa-fw"></i></span>
      <input [(ngModel)]="form.nickname" name="nickname" type="text" class="form-control form-control-sm" placeholder="Nickname" (keydown)="onEnterRegister($event)">
    </div>

    <div class="input-group" *ngIf=" ! user.logged ">
      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
      <input [(ngModel)]="form.password" name="password" type="password" class="form-control form-control-sm" id="password" placeholder="Password" (keydown)="onEnterRegister($event)">
    </div>



    <!--<div class="error alert alert-danger" role="alert" *ngIf="result.message">-->
      <!--<button type="button" class="close" (click)="result.message=null">-->
        <!--<span aria-hidden="true">&times;</span>-->
      <!--</button>-->
      <!--{{ result?.message }}-->
    <!--</div>-->

    <div class="row">

      <!--<div class="col-md-12 register" >-->
        <!--<button *ngIf=" ! user.logged " type="button" class="btn btn-primary btn-sm form-control" (click)="onClickRegister()">-->
          <!--<i *ngIf="loading" class='fa fa-spinner fa-spin'></i>-->
          <!--Register-->
        <!--</button>-->
        <!--<button *ngIf=" user.logged " type="button" class="control btn btn-primary btn-sm form-control" (click)="onClickUpdate()">Update</button>-->
      <!--</div>-->
    </div>

  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
