<header-component></header-component>
<div class="container">

<article *ngIf=" post " class="mb-1">
    <post-view-basic-component [post]=" post " [list]=" list "></post-view-basic-component>
    <ng-container *ngIf=" post.comments ">
        <comment-view-basic-component *ngFor=" let comment of post.comments "
            [list] = " list "
            [post] = " post "
            [comment] = " comment ">
        </comment-view-basic-component>
    </ng-container>
</article>



</div> <!-- /container -->
