<header-component></header-component>
<section class="page-body">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Forum</li>
    <li class="breadcrumb-item active">{{ post_config_id }}</li>
  </ol>

  <form>


      <div *ngFor=" let idx of photoIdxes ">
          <img style="width: 100%" src="{{ file.src( { idx: idx } ) }}">
      </div>
      
      <div class="form-group">
        <label for="file-box">Upload Photos</label>
        <input type="file" class="form-control-file" id="file-box" #userfile (change)="onChangeFile( userfile )">
        <small class="form-text text-muted">Please select a photo to upload</small>
      </div>
      <div class="form-group">
        <label for="title-box">Title</label>
        <input type="text" class="form-control" id="title-box">
        <small class="form-text text-muted">Input title</small>
      </div>
      <div class="form-group">
        <label for="content-box">Content</label>
        <textarea class="form-control" id="content-box"></textarea>
        <small class="form-text text-muted">Please, input content</small>
      </div>
      
      <button type="submit" class="btn btn-primary">Post</button>

  </form>

<div *ngIf="pagination">
  <div *ngFor="let post of pagination" >
    <span class="post">
      {{ post.idx }} | {{ post.title }}
    </span>
    <span class="postaction">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <i class="fa fa-times" aria-hidden="true" (click)="onClickDeletePost(post.idx)"></i>
    </span>
    <div>
      <comment-form-component
        [parentIdx]=post.idx
        [configId] = post_config_id
      >
      </comment-form-component>

    </div>
    <comment-list-component
      [parent_idx]= post.idx
      [post_config]= post_config_id
    >
    </comment-list-component>

  </div>


  <page-navigation
    [no_of_total_items]=" totalRecord "
    [no_of_items_in_one_page] = " limitPerPage "
    [no_of_pages_in_navigator] = " numberPerNav "
    [no_of_current_page] = " currentPage "
    [show_prev_next] = " true "
    (pageClick)="onPageClick($event)"
  >
  </page-navigation>
</div>

</section>