<header-component></header-component>
<section class="page-body">
  
  <div *ngIf=" ! config.id " class="alert alert-success">
    <i class="fa fa-spin fa-spinner"></i>
    Loading <b>{{ post_config_id }}</b> forum ...
  </div>
  
  
  <div *ngIf=" config?.id " class="alert alert-info">
    <div>{{ config.name }} / {{ config.description }}</div>
  </div>

  <button *ngIf=" ! active " type="button" class="btn btn-sm btn-primary" (click)=" active = !active ">Create a New Post</button>

  <post-form-component
    *ngIf=" active "
    (cancel) = " active = false "
    (create) = " active = false "
    [post_config_id] = " post_config_id "
  ></post-form-component>

  <post-list-component #postListComponent
    (loaded)=" onLoaded( $event ) "
  ></post-list-component>

  
        <page-navigation
                [no_of_total_items]=" no_of_total_items "
                [no_of_items_in_one_page] = " no_of_items_in_one_page "
                [no_of_pages_in_navigator] = " no_of_pages_in_navigator "
                [no_of_current_page] = " no_of_current_page "
                [show_prev_next] = " true "
                (pageClick)="onPageClick( $event )"
        >
        </page-navigation>

  

</section>