<header-component></header-component>
<section class="page-body">


      <div class="container pt-3">
            <div *ngIf=" list?.data?.posts " class="row text-center">
                  <div *ngFor=" let post of list.data.posts " class="col-lg-4 mb-3">
                        <img class="rounded-circle mb-2" src="{{ post.files[0].url }}&crop=200x200x80">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>
                        <a class="btn btn-secondary" routerLink="/p/{{post.idx}}/{{post.title}}" role="button">View details »</a>
                  </div>
            </div>



            <ng-container *ngIf=" secondList?.data?.posts ">
                  <div *ngFor=" let post of secondList.data.posts " class="row text-center">
                        <div  class="col-md-7 mb-3">
                              <h2>{{ post.title }}</h2>
                              <p>{{ post.content }}</p>
                        </div>
                        <div class="col-md-5">
                              <img class="mb-2" src="{{ post.files[0].url }}&crop=400x320x80">
                        </div>
                  </div>
            </ng-container>

      </div>


</section>