<button class="btn btn-sm btn-secondary" (click)="onClickshowPostModal()" >Write Post</button>

<!--
//
//
-->

<div class="album text-muted">
  <div class="container">

    <div class="row" >
      <div class="card" *ngFor="let post of posts">
        <span class="postaction">
          <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="onClickShowEditPost( post )"></i>
          <i class="fa fa-times" aria-hidden="true" (click)="onClickDeletePost( post.idx )"></i>
        </span>
        <div *ngIf=" post.files.length ">
          <div *ngFor=" let file of post.files ">
            <img [src]=" file['url'] " style="width: 100%;">
          </div>
        </div>
        <p class="card-text title">{{ post.title }}</p>
        <p class="card-text content">{{ post.content }}</p>
      </div>
    </div>

  </div>

</div>
