

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
    
    <file-form-component [files]=" files "></file-form-component>

    <div class="form-group">
      <label for="title-box">Title</label>
      <input type="text" class="form-control" id="title-box" formControlName="title">
      <small class="form-text text-muted">Input title</small>
    </div>
    <div class="form-group">
      <label for="content-box">Content</label>
      <textarea class="form-control" id="content-box" formControlName="content"></textarea>
      <small class="form-text text-muted">Please, input content</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Post</button>
    <button type="button" class="btn btn-Secondary" (click)=" onClickCancel() ">Cancel</button>
</form>