<h1>
  {{title}}
</h1>

<hr>
<h2>Login</h2>
  <div class="user-box">
    <div *ngIf=" ! user.logged " class="login-form">
      <input name="id" [(ngModel)]="_id"><input name="password" [(ngModel)]="_password"><button (click)="onClickLogin(_id, _password)" type="button">Login</button>
    </div>
    <div *ngIf=" user.logged " class="user-info">
      User are logged in: {{ user.getSessionInfo().id }}
      <button (click)="onClickLogout()" type="button">logout</button>
    </div>
  </div>
<h3>Newly Registered Users</h3>
<div *ngIf="newUsers" class="new-users" >
  <span *ngFor="let user of newUsers" class="user">
    {{ user.id }}
  </span>
</div>

<hr>
<h2>User Register</h2>

<div>
  <div>User ID: <input name="id" [(ngModel)]="form.id"></div>
  <div>Password: <input name="password" [(ngModel)]="form.password"></div>
  <div>Name: <input name="name" [(ngModel)]="form.name"></div>
  <div>Email: <input name="email" [(ngModel)]="form.email"></div>
  <div>Gender<input name="gender" [(ngModel)]="form.gender"></div>
  <div><button (click)="onClickRegister()" type="button">Register</button></div>
</div>


<h2>User Edit</h2>

<div >
  <button (click)="onClickLoadData()" type="button">Load user data</button> of {{ user.info?.id }}
</div>
<div>
  <div>Name: <input name="name" [(ngModel)]="edit.name"></div>
  <div>Email: <input name="email" [(ngModel)]="edit.email"></div>
  <div>Gender<input name="gender" [(ngModel)]="edit.gender"></div>
  <div><button (click)="onClickUpdateProfile()" type="button">Update Profile</button></div>
</div>


<h2>User management By admin</h2>
TODO: 1. user list with pagination like [1] [2] [3] [4] [5]
2. user search.
3. user edit.
<div>User Name: <input name="id" ([ngModel])="searchForm.name" (ngModelChange)="onChangeSearch()"></div>
<h2>User Pagination</h2>
<div *ngIf="paginationUsers" class="pagination-user" >
  <span *ngFor="let user of paginationUsers" class="user">
    {{ user.id }} *
  </span>
</div>




<hr>

<h1>Forum</h1>
<h2>Forum Create</h2>
<div class="forum-form">
  <div>Forum ID: <input name="id" [(ngModel)]="forum.id"><div>
  <div>Name: <input name="name" [(ngModel)]="forum.name"></div>
  <div><button (click)="onClickForumCreate()" type="button">create forum</button></div>
</div>
