<h1>
  {{title}}
</h1>

<hr>
<h2>Login</h2>
  <div class="user-box">
    <div *ngIf=" ! user.logged " class="login-form">
      <input name="id" [(ngModel)]="_id"><input name="password" [(ngModel)]="_password"><button (click)="onClickLogin(_id, _password)" type="button">Login</button>
    </div>
    <div *ngIf=" user.logged " class="user-info">
      User are logged in: {{ user.getSessionInfo().id }}
      <button (click)="onClickLogout()" type="button">logout</button>
    </div>
  </div>
<h3>Newly Registered Users</h3>
<div *ngIf="newUsers" class="new-users" >
  <div *ngFor="let user of newUsers" class="user">
    {{ user.id }}
  </div>
</div>

<hr>
<h2>Register</h2>

<div>
  <div>User ID: <input name="id" [(ngModel)]="form.id"></div>
  <div>Password: <input name="password" [(ngModel)]="form.password"></div>
  <div>Name: <input name="name" [(ngModel)]="form.name"></div>
  <div>Email: <input name="email" [(ngModel)]="form.email"></div>
  <div>Gender<input name="gender" [(ngModel)]="form.gender"></div>
  <div><button (click)="onClickRegister()" type="button">Register</button></div>
</div>


<h2>User Profile</h2>
<button (click)="onLoadProfile()" type="button">Load Profile</button>

<div>
  <div>Name: <input name="name" [(ngModel)]="profile.name"></div>
  <div>Email: <input name="email" [(ngModel)]="profile.email"></div>
  <div>Gender<input name="gender" [(ngModel)]="profile.gender"></div>
  <div><button (click)="onClickRegister()" type="button">Register</button></div>
</div>