<nav>
  <ul class="pagination">
    <li class="page-item" *ngIf="show_first_last && currentDisplay > 0" (click)="gotoFirst()"><a class="page-link">&laquo;</a></li>
    <li class="page-item" *ngIf="show_prev_next && currentDisplay > 0"  (click)="previousPage()"><a class="page-link">&lsaquo;</a></li>
    <li class="page-item" *ngFor="let x of numbers"
            [ngClass]="{'active': no_of_current_page == x }"
            (click)="gotoPage( x )"
    ><a class="page-link">{{x}}</a></li>
    <li class="page-item" *ngIf="show_prev_next && numbers[ numbers.length - 1] < no_of_total_pages "  (click)="nextPage()"><a class="page-link">&rsaquo;</a></li>
    <li class="page-item" *ngIf="show_first_last && numbers[ numbers.length - 1] < no_of_total_pages" (click)="gotoLast()"><a class="page-link">&raquo;</a></li>
  </ul>
</nav>
