<header-component></header-component>
<section class="page-body">
  
  <div *ngIf=" ! lists.length " class="alert alert-success">
    <i class="fa fa-spin fa-spinner"></i>
    Loading <b>{{ post_config_id }}</b> forum ...
  </div>
  
  
  <div *ngIf=" lists[0] && lists[0]?.data?.configs " class="alert alert-info">
    <div>{{ lists[0].data.configs[0].name }} / {{ lists[0].data.configs[0].description }}</div>
  </div>


    <button *ngIf=" ! showPostForm " (click)=" showPostForm = true " class="btn btn-secondary">Create New Post</button>
    <post-form-basic-component
    *ngIf=" showPostForm "
    [post_config_id] = " post_config_id "
    [option] = " {
        hideForumID: true
    } "
    [post] = " postPostForm "
    (create) = " lists[0].data.posts.unshift( $event ); showPostForm = false "
    (edit) = " showPostForm = false "
    (cancel) = " showPostForm = false "
    ></post-form-basic-component>


    <section class="posts">
        <ng-container *ngIf=" lists.length ">
            <ng-container *ngFor=" let list of lists ">
                <article *ngFor=" let post of list.data.posts " class="mb-1">
                    <post-view-basic-component [post]=" post " [list]=" list "></post-view-basic-component>
                    <ng-container *ngIf=" post.comments ">
                        <comment-view-basic-component *ngFor=" let comment of post.comments "
                            [list] = " list "
                            [comment] = " comment ">
                        </comment-view-basic-component>
                    </ng-container>
                </article>
            </ng-container>
        </ng-container>
    </section>


    <div class="no-more-posts alert alert-info" *ngIf=" inLoading ">
       <i class="fa fa-spinner fa-spin"></i>  more posts ...
    </div>


    <div class="no-more-posts alert alert-info" *ngIf=" noMorePosts ">
        No more posts...
    </div>



</section>

