/* You can add global styles to this file, and also import other style files */
@import './app/enhancer/scss/enhancer';
// base
body {
    margin-top: 84px;
    background: #e8e8e8;
}



$header-background-color: #797979;


// layout


// theme
.page-header {
}
.page-body {
    margin-top: $top-menu-height + $gutter;
    margin: auto $gutter;
    @media ( min-width: $sm ) {
        max-width: $lg;
    }
    @media ( min-width: $lg ) {
        margin-left: auto;
        margin-right: auto;
    }
}
.page-foter {

}

[depth='0'] {
    margin-left: 1em;
}

[depth='1'] {
    margin-left: 2em;
}
[depth='2'] {
    margin-left: 3em;
}
[depth='3'] {
    margin-left: 4em;
}
[depth='4'] {
    margin-left: 5em;
}
[depth='5'] {
    margin-left: 6em;
}