/* You can add global styles to this file, and also import other style files */

body {
    margin-top: 84px;
    background: #e8e8e8;
}



$header-background-color: #797979;

.top-menu {
    color: white;
    background-color: $header-background-color;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
    .fa {
        color: $header-background-color;
    }
    .fa-circle {
        color: white;
    }

}