<header class="top-menu fs-90 hidden-sm-up">
  <nav>
    <ul>
      <li routerLink="/home">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
        <div class="text">{{ t['home'] }}</div>
      </li>

      <li *ngIf=" ! user.logged " routerLink="/login">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-sign-in fa-stack-1x"></i>
        </span>
        <div class="text">{{ t.login }}</div>
      </li>

      <li *ngIf=" user.logged " (click)="onClickLogout()">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-sign-out fa-stack-1x"></i>
        </span>
        <div class="text">{{ t.logout }}</div>
      </li>
      
      

      <li *ngIf=" ! user.logged " routerLink="/register2">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-plus fa-stack-1x"></i>
        </span>
        <div class="text">{{ t.register }}</div>
      </li>


      <li *ngIf=" user.logged " (click)="onClickProfile('/profile2')">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-o fa-stack-1x"></i>
        </span>
        <div class="text">{{ t.profile }}</div>
      </li>

      <li *ngIf=" user.admin " routerLink="/admin">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-gear fa-stack-1x"></i>
        </span>
        <div class="text">{{ t.admin }}</div>
      </li>


      
      <li routerLink="/forum2/qna">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-commenting-o fa-stack-1x"></i>
        </span>
        <div class="text">{{ t.qna }}</div>
      </li>
      
      
      <li routerLink="/forum3/test">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-file-photo-o fa-stack-1x"></i>
        </span>
        <div class="text">{{ t.test }}</div>
      </li>
      


      <li routerLink="/forum3/test">
        <span class="fa-stack fa-lg">
          <i class="fa fa-bars fs-150 pt-1 text-center white"></i>
        </span>
        <div class="text">{{ t.menu }}</div>
      </li>

    </ul>
  </nav>
</header>

<header class="fixed-top hidden-xs-down bg-grey white">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="p-2 orange" routerLink="/">로고</div>
      </div>

      <div class="col-sm-8">


        <nav>
          <ul class="list-menu clearfix">

      <li *ngIf=" ! user.logged " routerLink="/login">
        <div class="text">{{ t.login }}</div>
      </li>

      <li *ngIf=" user.logged " (click)="onClickLogout()">
        <div class="text">{{ t.logout }}</div>
      </li>
      
      

      <li *ngIf=" ! user.logged " routerLink="/register2">
      
        <div class="text">{{ t.register }}</div>
      </li>


      <li *ngIf=" user.logged " (click)="onClickProfile('/profile2')">
        
        
        <div class="text">{{ t.profile }}</div>
      </li>


      <li *ngIf=" user.admin " routerLink="/admin">
        <div class="text">{{ t.admin }}</div>
      </li>
          </ul>
        </nav>
        <nav>
          <ul  class="list-menu">

            <li>지유게시판</li> 
            <li><div routerLink="/forum2/qna">질문답변</div></li>
            <li><div routerLink="/forum3/test">정보게시판</div></li>
          </ul>
        </nav>
        
      </div>
      
    </div>
  </div>
</header>